#Write a program in python to read tomato disease dataset in following manner
## 1. Uploading the file in colab
## 2. Mounting the drive
## 3. Using token from **kaggle**

In [7]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("noulam/tomato")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'tomato' dataset.
Path to dataset files: /kaggle/input/tomato

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

# This cell previously tried to read 'mnist_test.csv' from Google Drive,
# but the file was not found there.
# The 'mnist_test.csv' dataset was later successfully downloaded from Kaggle
# and is available at '/kaggle/input/mnist-in-csv/mnist_test.csv'.
# We will update this cell to read from the Kaggle path.
file_path = '/kaggle/input/mnist-in-csv/mnist_test.csv'
df1 = pd.read_csv(file_path)
df1.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
import kagglehub
path = kagglehub.dataset_download("oddrationale/mnist-in-csv")

Using Colab cache for faster access to the 'mnist-in-csv' dataset.

In [8]:
import os

# Use the 'path' variable returned by kagglehub
# Your screenshot shows the folder contains 'mnist_test.csv' and 'mnist_train.csv'
file_path = os.path.join(path, 'mnist_test.csv')

# Now read the actual file
df = pd.read_csv(file_path)
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0